* {
    margin: 0;
    padding: 0;
}

.back {
    width: 100%;
    height: 100%;
    background-color: #201335;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aTag {
    text-decoration: none;
    color: black;
}

.Card {
    background-color: #4f4789;
    border: solid 1px transparent;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin: 5px 10px;
}

.Card:hover {
    background-color: #563b86;
    transition: 0.2s;
}

.Card:active {
    background-color: #452c70;
    transition: 0.2s;
}

.CardSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    color: white;
}